attrs==19.3.0
bcrypt==3.1.7
cffi==1.14.0
cryptography==3.2
more-itertools==8.4.0
packaging==20.4
paramiko==2.7.1
pluggy==0.13.1
py==1.8.2
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.7
pytest==5.4.3
six==1.15.0
testinfra==5.2.1
wcwidth==0.2.4
